parameters:
  level: 1

  paths:
    - %currentWorkingDirectory%/DistributionPackages

  excludePaths:
    - %currentWorkingDirectory%/DistributionPackages/*/Tests/*
    - %currentWorkingDirectory%/DistributionPackages/AchimFritz.ChampionShip/Resources

  ignoreErrors:
    - '#Constant FLOW_SAPITYPE not found.#'

